/*
* Copyright 2022 DactylGroup s.r.o.
*
* Licensed under the EUPL, Version 1.2 or – as soon they
will be approved by the European Commission - subsequent
versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the
Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl5
*
* Unless required by applicable law or agreed to in
writing, software distributed under the Licence is
distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied.
* See the Licence for the specific language governing
permissions and limitations under the Licence.
*/

@import '../../../source_assets/layout/scss/variables';
@import '../../../source_assets/layout/scss/mixins';

.livebox--thread {

  @media (min-width: 550px) {
    width: 520px;
  }
  display: flex;
  flex-direction: column;
  height: 100%;

  &--header {
    @include font-root-body-body-4-medium;
    letter-spacing: -0.4px;
    font-feature-settings: 'salt' on;
    color: $gray-900;
    padding: 0 72px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &--user {
      font-family: 'SF Pro Text', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.154px;
      font-feature-settings: 'salt' on;
      color: $gray-700;
      display: flex;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  &--conversation {

    padding: 32px 32px 0 32px;
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;

    @-moz-document url-prefix() {
      // cannot use column-reverse because of firefox bug (https://bugzilla.mozilla.org/show_bug.cgi?id=1042151)
      flex-direction: column;
    }

    /* width */
    &::-webkit-scrollbar {
      width: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px $gray-500;
      border-radius: 3px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $primary-300;
      border-radius: 3px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $primary-400;
    }

    &__scroll-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .message-content {
      display: inline-block;
      padding: 12px 16px;
      border-radius: 4px;
      margin-bottom: 0;
      margin-top: 8px;
      max-width: 80%;
      overflow-wrap: break-word;
    }

    ol, ul {
      width: fit-content;
      padding: 12px 30px;
      border-radius: 4px;
      margin-bottom: 0;
      margin-top: 8px;
      max-width: 80%;

      li {
        width: fit-content;
      }
    }

    .message-theirs {
      .message-content {
        background: $gray-300;
        color: $gray-900;
      }
    }

    .message-my {
      text-align: right;

      .message-content {
        background: $primary-400;
        color: white;
      }

      ol, ul {
        margin-left: auto;
      }

      .message-date {
        display: inline-flex;
        align-items: center;

        span[data-toggle] {
          display: flex;
          align-items: center;
        }

        svg {
          height: 16px;
          width: 16px;
          margin-left: 4px;
        }
      }
    }

    .message-date {
      @include font-root-body-body-5-regular;
      letter-spacing: -0.154px;
      font-feature-settings: 'salt' on;
      color: $gray-700;
    }

  }

  &--response-form {
    margin-top: auto;
    padding: 0 32px 32px 32px;

    .checkbox {
      padding-bottom: 0;
      padding-left: 0;

      .checkbox-label {
        padding-left: 30px;
      }
    }

    .tox-tinymce {
      border: 2px solid $gray-400 !important;
      border-radius: 4px;
    }

    #message-content_ifr {
      max-height: 70vh;
    }

    .thread-conversation-submit {
      cursor: pointer;
      -webkit-appearance: none;
      border: none;
      padding: 0;
      background: transparent;
      position: absolute;
      right: 40px;
      bottom: 55px;
    }
  }
}

.tox-tinymce-aux {
  z-index: 99999 !important;
}
