/*
* Copyright 2022 DactylGroup s.r.o.
*
* Licensed under the EUPL, Version 1.2 or – as soon they
will be approved by the European Commission - subsequent
versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the
Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl5
*
* Unless required by applicable law or agreed to in
writing, software distributed under the Licence is
distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied.
* See the Licence for the specific language governing
permissions and limitations under the Licence.
*/

@import '../../../source_assets/layout/scss/variables';
@import '../../../source_assets/layout/scss/mixins';

#conversations-grid {
  margin-top: 24px;

  div[data-key] {
    a {
      transition: .3s;
      &:hover {
        background: $gray-100;
        text-decoration: none;
      }
    }

    &:first-child {
      a {
        &:hover {
          border-top-left-radius: $borderRadius;
          border-top-right-radius: $borderRadius;
        }
      }
    }
  }
}

.dk--content-box {

  .dk--thread__item,
  .dk--thread__item a {
    font-family: 'SF Pro Text', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: -0.4px;
    font-feature-settings: 'salt' on;
    color: $gray-900;
    display: block;
  }

  .dk--thread__item {

    border-bottom: 1px solid $gray-300;
    padding: 16px 8px;

    &__new {
      .dk--thread__item--info {
        &__date {
          position: relative;

          &:before {
            content: '';
            background-color: $red-600;
            border-radius: 50%;
            position: absolute;
            width: 11px;
            height: 11px;
            left: -16px;
            top: 5px;
          }
        }
      }
    }

    &--message {
      display: block;
      font-weight: normal;
      margin: 0 0 8px 0;
      max-width: 80%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      &__new {
        font-weight: 600;

      }

      &__empty {
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: $gray-700;
      }
    }

    &--user {
      font-family: SF Pro Text, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.154px;
      font-feature-settings: 'salt' on;
      color: $gray-700;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.summary {
  display: block;
  font-family: SF Pro Text, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.154px;
  font-feature-settings: 'salt' on;
  color: $gray-700;
  margin-top: 40px;
}
