/*
* Copyright 2022 DactylGroup s.r.o.
*
* Licensed under the EUPL, Version 1.2 or – as soon they
will be approved by the European Commission - subsequent
versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the
Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl5
*
* Unless required by applicable law or agreed to in
writing, software distributed under the Licence is
distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied.
* See the Licence for the specific language governing
permissions and limitations under the Licence.
*/

@import '../../../source_assets/layout/scss/variables';
@import '../../../source_assets/layout/scss/mixins';

.dk--nav-bar__extended {
  a {
    color: unset;
  }

  .dk--btn {
    &__icon,
    svg {
      width: 18px;
      height: 18px;
      display: flex;
    }
  }

  .btn__text {
    display: flex;
    align-items: center;
  }
}

.dk--station {

  &--user-section {
    margin-top: 32px;

    .dk--btn {
      &__icon {
        svg {
          max-width: 18px;
          max-height: 18px;
        }
      }

      &__label {
        padding: 0 8px;
      }
    }

    &__description {
      display: block;
      margin: 16px 0 8px 0;
      @include font-root-body-body-5-regular;
      letter-spacing: -0.154px;
      font-feature-settings: 'salt' on;
      color: $gray-700;

    }
  }

  .dk--table--ghost__heading,
  .coordination-calc__heading {
    margin-top: 32px;
  }

  .grid-view {
    margin-top: 16px;
  }

  .summary {
    margin-top: 48px;
  }

  .dk--btn__icon {
    width: 16px;
    height: 16px;
    display: flex;
  }

  .btn__text {
    display: flex;
    align-items: center;
  }

  #coordination-calc-wrapper {
    padding-bottom: 8px;
  }


  .dk--table--ghost {

    &__hide-mobile {
      @media (max-width: $md-breakpoint) {
        display: none;
      }
    }

    tbody {

      td {

        div[data-toggle="tooltip"] {
          display: inline-flex;
          vertical-align: middle;
          margin-left: 8px;

          svg {
            width: 18px;
            height: 18px;

            path {
              fill: $gray-600;
            }
          }
        }

        &.dk--table--td__icon-mr {
          white-space: nowrap;

          span {
            vertical-align: middle;
          }

          svg {
            width: 21px;
            height: 21px;

            path {
              fill: $gray-600;
            }
          }

          a {
            @include font-root-body-body-4-regular;
            color: $gray-900;
            text-decoration: underline;

            &:hover {
              color: $gray-600;
            }
          }
        }


        &:first-child {
          @media screen and (min-width: 500px) {
            width: 240px;
          }
        }
      }
    }
  }

  .collision-table {
    tbody {
      td {
        color: $gray-700;

        &:first-child {
          width: auto;
        }
      }

      tr:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }

  .dk--conflict {
    padding-left: 4px;

    &__yes {
      color: $orange-600;
    }

    &__no {
      color: $green-600;
    }
  }

  #coordination-calc {
    .grid-view table thead tr th {
      padding: 16px 12px 4px 12px;
    }

    .grid-view table thead tr td {
      padding: 4px;
    }

    .grid-view table tbody tr {
      &.kv-expand-detail-row {
        td[colspan] {
          padding: 0;
          height: 0;
        }
      }

      td {
        height: 57px;
      }
    }

    input[type="text"] {
      background: $white;
      border: 2px solid $gray-400;
      box-sizing: border-box;
      border-radius: 4px;
      outline: none;
      width: 100%;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: -.4px;
      font-feature-settings: 'salt' on;
      color: $gray-700;
      padding: 8px;
      height: 35px;

      &:focus {
        border: 2px solid $primary-500;
      }
    }

    .select2-container--default .select2-selection--single {
      padding: 0;
      border: 2px solid $gray-400;
      min-height: 35px;
    }

    .select2-container--focus .select2-selection--single {
      padding: 0;
      border: 2px solid $primary-500;
    }

    .select2-container--default .select2-container--below {
      height: 35px;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {
      font-size: 14px;
      line-height: 16px;
      height: auto;
    }

  }

}

.select2-container--default.select2-container--focus .select2-selection--single {
  border: 1px solid $primary-500;
}

.shouldReload-wrapper {
  display: inline-flex;

  #shouldReload {
    display: none;
  }
}

.modal-header, .modal-footer {
  border: none;
}

.modal-body {
  padding: 0 1rem;
}

.bootstrap-dialog-footer {
  .btn {
    box-shadow: 0px 0px 1px rgba(26, 32, 44, 0.3), 0px 0px 2px rgba(26, 32, 44, 0.25), 0px 2px 4px rgba(26, 32, 44, 0.2);
    border-radius: 4px;

    padding: 12px;
    height: 40px;
    font-size: 14px;
    border: none;
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
    margin: 8px;
  }

  .btn-warning {
    background: $red-700;
    color: white
  }

  .btn-outline-secondary {
    color: black;
    background: $gray-200;
    box-shadow: none;
  }


}
