/*
* Copyright 2022 DactylGroup s.r.o.
*
* Licensed under the EUPL, Version 1.2 or – as soon they
will be approved by the European Commission - subsequent
versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the
Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl5
*
* Unless required by applicable law or agreed to in
writing, software distributed under the Licence is
distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied.
* See the Licence for the specific language governing
permissions and limitations under the Licence.
*/

@import '../../../source_assets/layout/scss/variables';
@import '../../../source_assets/layout/scss/mixins';

.livebox-user {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  width: 1192px;

  @media screen and (max-width: 1324px) {
    width: 90vw;
  }

  &__header {
    align-items: center;
    background: $color-header-navigation-bar-background;
    box-shadow: $shadow-header;
    display: flex;
    min-height: 64px;
    padding: 0 24px 0 72px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    @include font-root-body-body-4-medium;

    &__buttons {
      position: relative;
      text-align: right;
      width: 100%;
    }
  }

  &__content {
    // 744px content + 32px padding on both sides (content-box cannot be used bcs of responsivity... /just trust me)
    margin: 80px auto 0;
    max-width: 424px;
    padding: 32px;
    width: 100%;

    h4 {
      margin-bottom: 24px;
    }

    h5 {
      color: $gray-900;
      font-feature-settings: 'salt' on;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 24px;
      margin-bottom: 16px;
      padding-top: 8px;
    }

    &__buttons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      .dk--btn {
        margin-bottom: 16px;
      }
    }

    &__button {
      float: right;
      margin-top: 8px;
    }

    .livebox-password-sent-text,
    .livebox-reset-form-subtitle {
      margin: 12px 0 24px;
    }

    &__forms {
      position: relative;

      .checkbox {
        padding-left: 0;

        .checkbox-label {
          padding-left: 32px;
        }
      }

      .field-registerform-recaptcha > .help-block {
        @media screen and (min-width: 486px) {
          margin-top: -2px;
        }
      }

      .toggle-password {
        display: block;
        margin-top: 22px;
        position: absolute;
        right: 30px;
        z-index: 2;

        &:hover {
          cursor: pointer;
        }
      }
    }

    &__results {
      width: 85%;
      margin: 40px auto;

      .error {
        color: $red-600;
      }

      .success {
        color: $green-900;
      }

      .warning {
        color: $orange-600;
      }

      .dk-alert {
        padding: 32px;
      }

      &.export-forms {
        .dk-alert {
          display: block;
          margin-top: 102px;
        }
      }
    }

    &__chips {
      margin-bottom: 32px;

      .dk--chip,
      .chip-left {
        margin-right: 16px;

        @media screen and (max-width: 332px) {
          margin-bottom: 16px;
        }
      }
    }
  }
}

.user-profile {

  .initials-icon {
    float: right;
  }

  &__about {
    box-shadow: 0 1px 0 $gray-300;
    color: $color-content-font;

    font-feature-settings: 'salt' on;
    font-style: normal;
    font-size: 14px;
    font-weight: normal;

    letter-spacing: -0.154px;
    line-height: 20px;
    margin-top: 16px;
    padding-top: 16px;
    padding-bottom: 24px;

    h5 {
      color: $gray-900;
      font-feature-settings: 'salt' on;
      font-style: normal;
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 0.4px;
      line-height: 24px;
      padding-bottom: 12px;
    }

    .row {
      padding-bottom: 12px;
      padding-top: 12px;

      .lock-icon {
        margin-right: 8px;
      }
    }

    &__value {
      @media screen and (max-width: 1024px) {
        margin-left: 16px;
        padding-top: 8px;
      }
    }

    .btn {
      margin-right: 16px;
      margin-top: 20px;

      &.alliance-btn {
        .dk--btn__icon {
          margin-right: 0px;

          svg {
            width: 20px;
            height: 20px;
          }
        }
      }

      svg {
        height: 16px;
        width: 16px;
      }
    }
  }

  &__stations {
    margin-top: 48px;

    &__under-table-btn {
      margin-top: 24px;
    }
  }
}

.bootbox {
  z-index: 999999 !important;

  .modal-dialog {
    top: 25%;
  }

  .modal-footer {
    justify-content: space-between;
  }

  .dk--btn--primary {
    color: white;
  }

  .bootbox-input-password {
    padding: 10px 14px;
    border: 2px solid $gray-400;
    border-radius: $borderRadius;
    line-height: 24px;
    box-shadow: none;
    outline: none;
    width: 100%;

    &:focus {
      border-color: $primary-500;
      outline: none;
    }
  }
}

.modal-backdrop {
  z-index: 99999 !important;
}

.prolong-labels {
  display: none;
}

.user-profile__stations {
  .vgt-table {
    .vgt-checkbox-col {
      padding: 0 16px !important;
      min-width: initial !important;
    }

    tbody {
      .vgt-checkbox-col {

        border-right: none !important;
        border-left: none !important;
        border-top: none !important;
        background: none !important;
      }

      td span.name-link a {
        width: 380px !important;
        @media (max-width: 1680px) {
          width: calc(50vw - 460px) !important;
        }
        @media (max-width: $lg-breakpoint) {
          width: calc(100vw - 480px) !important;
        }
      }
    }

    thead {
      .vgt-table th.vgt-checkbox-col {
        width: inherit !important;
        min-width: inherit !important;
      }
    }
  }
}
