/*
* Copyright 2022 DactylGroup s.r.o.
*
* Licensed under the EUPL, Version 1.2 or – as soon they
will be approved by the European Commission - subsequent
versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the
Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl5
*
* Unless required by applicable law or agreed to in
writing, software distributed under the Licence is
distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied.
* See the Licence for the specific language governing
permissions and limitations under the Licence.
*/

@import '../../../../source_assets/layout/scss/_variables';
@import '../../../../source_assets/layout/scss/_mixins';

.dk--badge {

  border-radius: 16px;
  padding: 4px 8px;
  @include font-root-body-body-5-regular;
  text-align: center;
  letter-spacing: -0.154px;
  font-feature-settings: 'salt' on;

  &--default {
    background-color: $gray-300;
    color: $gray-900;
  }
  &--informational {
    background-color: $blue-200;
    color: $blue-900;
  }
  &--success {
    background-color: $green-200;
    color: $green-900;
  }
  &--warning {
    background-color: $orange-200;
    color: $orange-900;
  }
}
