/*
* Copyright 2022 DactylGroup s.r.o.
*
* Licensed under the EUPL, Version 1.2 or – as soon they
will be approved by the European Commission - subsequent
versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the
Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl5
*
* Unless required by applicable law or agreed to in
writing, software distributed under the Licence is
distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied.
* See the Licence for the specific language governing
permissions and limitations under the Licence.
*/

@import '../../../../source_assets/layout/scss/_variables';
@import '../../../../source_assets/layout/scss/_mixins';

.dk--chip {
  border-style: solid;
  border-width: 2px;
  border-radius: $borderRadius;
  padding: 6px 8px;
  display: inline-flex;
  background-color: white;
  border-color: $gray-400;
  transition: .5s;

  &__label {
    @include font-root-body-body-5-medium;
    text-align: left;
    padding: 0 4px;
    color: $gray-900;
  }

  &__icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 4px;
    path {
      fill : $gray-600;
    }
  }

  &:hover {
    background-color: $color-chip-hover-background;
    border-color: $color-chip-hover-background;
    cursor: pointer;

    .dk--chip__label {
      color: $color-chip-hover-text;
    }

    .dk--chip__icon {
      path {
        fill : $gray-600;
      }
    }
  }

  &:focus {
    background-color: $gray-400;
    border-color: $gray-600;

    .dk--chip__label {
      color: $color-chip-focused-text;
    }

    .dk--chip__icon {
      path {
        fill : $gray-700;
      }
    }
  }

  &:active {
    background-color: $gray-400;
    border-color: $gray-400;
    box-shadow: 0px 2px 4px rgba(26, 32, 44, 0.2), 0px 0px 2px rgba(26, 32, 44, 0.25), 0px 0px 1px rgba(26, 32, 44, 0.3);

    .dk--chip__label {
      color: $color-chip-pressed-text;
    }

    .dk--chip__icon {
      path {
        fill : $gray-700;
      }
    }
  }

  &.selected {
    background-color: $color-chip-selected-background;
    border-color: $color-chip-selected-border;

    .dk--chip__label {
      color: $primary-500;
    }

    .dk--chip__icon {
      path {
        fill : $primary-500;
      }
    }
  }

  &--tall {
    padding: 16px;

    &__label {
      @include font-root-body-body-4-medium;
      text-align: left;
      padding: 0 4px;
    }

    &__icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      margin: 0 8px;
    }
  }

  &--disabled {
    background-color: white;
    border-color: $color-chip-disabled-border;

    .dk--chip__label {
      color: $gray-500;
    }

    .dk--chip--icon {
      path{
        fill: $gray-400
      }
    }

    &:hover {
      background-color: white;
      border-color: $color-chip-disabled-border;
      cursor: default;

      .dk--chip__label {
        color: $gray-500;
      }

      .dk--chip--icon {
        path{
          fill: $gray-400
        }
      }
    }
  }
}


.dk-chip {
  display: inline-flex;
  padding: 4px 6px;
  border: 2px solid $gray-400;
  border-radius: 8px;
  background-color: $white;
  align-items: center;

  &__icon {
    width: 24px;
    height: 24px;

    svg {
      fill: $gray-600;
    }
  }

  &__label {
    padding: 0 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.154px;
    font-feature-settings: 'salt' on;
    color: $gray-900;
  }

  &__label + &__icon,
  &__icon + &__label {
    margin-left: 4px;
  }

  &--tall {
    padding: 14px;

    .dk-chip__label {
      font-size: 17px;
      line-height: 24px;
      letter-spacing: -0.4px;
    }
  }

  &--active {
    background-color: $primary-100;
    border-color: $primary-500;

    .dk-chip__icon {
      svg {
        fill: $primary-600;
      }
    }
  }
}
