/*
* Copyright 2022 DactylGroup s.r.o.
*
* Licensed under the EUPL, Version 1.2 or – as soon they
will be approved by the European Commission - subsequent
versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the
Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl5
*
* Unless required by applicable law or agreed to in
writing, software distributed under the Licence is
distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied.
* See the Licence for the specific language governing
permissions and limitations under the Licence.
*/

.dk--daterangepicker--button {
  input {
    padding: 6px 12px;
  }

  label {
    top: 9px !important;
  }
}

// popup with calendar
.daterangepicker {

  .drp-selected {
    display: none !important;
  }

  .drp-buttons {
    display: flex !important;
    justify-content: space-between;
  }

  thead {
    th {
      @include font-root-body-body-5-medium;
      text-align: center;
      letter-spacing: -0.154px;
      font-feature-settings: 'salt' on;
      color: $gray-900;
    }
  }

  tbody {

    @include font-root-body-body-5-regular;
    text-align: center;
    letter-spacing: -0.154px;
    font-feature-settings: 'salt' on;
    color: $gray-900;

    td{

      &.off {
        color: $gray-500;
      }

      &:hover {
        border-radius: 50%;
        color: $gray-900;
        background: $gray-200;
      }

      &.in-range,
      &.active {
        background: $primary-500;
        color: white;

        &:nth-child(1) {
          border-radius: 4px 0px 0px 4px;
        }

        &:last-child {
          border-radius: 0px 4px 4px 0px;
        }
      }

      &.active:hover {
        background: $primary-500;
        color: white;
      }

      &.in-range:hover {
        border-radius: 0;
        background: $primary-500;

        &.start-date {
          border-radius: 16px 0 0 16px;
        }

        &:last-of-type,
        &.end-date {
          border-radius: 0 16px 16px 0;
        }
      }

      &.in-range:last-of-type {
        &.end-date {
          border-radius: 0 16px 16px 0;
          background: $primary-500;
          color: white;

          &.off {
            background: white;
            color: $gray-500;
          }
        }

        &:hover {
          border-radius: 0 16px 16px 0;
        }
      }

      &.start-date {
        border-radius: 16px 0 0 16px;
      }
      &.end-date {
        border-radius: 0 16px 16px 0;
      }

      &.start-date.end-date {
        border-radius: 50%;
      }

    }
  }
}
