/*
* Copyright 2022 DactylGroup s.r.o.
*
* Licensed under the EUPL, Version 1.2 or – as soon they
will be approved by the European Commission - subsequent
versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the
Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl5
*
* Unless required by applicable law or agreed to in
writing, software distributed under the Licence is
distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied.
* See the Licence for the specific language governing
permissions and limitations under the Licence.
*/

@import '../../../../source_assets/layout/scss/variables';
@import '../../../../source_assets/layout/scss/mixins';

.form-group {
  position: relative;
  margin-bottom: 16px;
  max-width: 100%;

  // when input is focused
  &:not(.has-error):focus-within {
    border-radius: $borderRadius;
  }

  input[type=text] ~ .control-label, input[type=number] ~ .control-label, {
    cursor: text;
    color: $gray-700;
  }

  .control-label {
    display: flex;

    @include font-root-body-body-4-regular();
    letter-spacing: -0.4px;
    font-feature-settings: 'salt' on;
    color: $gray-900;

    position: absolute;
    left: 16px;
    top: 20px;

    transition-property: top, font-size;
    transition-duration: 0.2s;
  }

  &.required {
    .has-star:not(.custom-control-label)::after {
      color: $red-800;
      font-family: inherit;
    }
  }

  .hint-block {
    @include font-root-body-body-6-regular;
    border-radius: 0 0 4px 4px;
    padding: 16px 16px 8px 16px;
    margin-top: -8px;
    color: $gray-900;
    background-color: $gray-400;
  }

  .form-control {
    padding: 18px 14px;
    border: 2px solid $gray-400;
    border-radius: $borderRadius;
    line-height: 24px;
    box-shadow: none;
    outline: none;
    width: 100%;

    &:focus {
      border-color: $primary-500;
      outline: none;

      & ~ .hint-block {
        background: $primary-500;
        color: $white;
      }

      // focused and filled
      &:not(:placeholder-shown) {
        & ~ .control-label {
          color: $primary-500;
        }
      }
    }

    &:disabled {
      border-color: $gray-200;
      color: $gray-500;
      background: $white;
      cursor: not-allowed;

      & ~ .control-label {
        color: $gray-500;
      }

      & ~ .hint-block {
        background-color: $gray-200;
        color: $gray-700;
      }

    }
  }

  // filled with label
  &:not(&--no-label) {
    .form-control:not(:placeholder-shown) {
      padding-top: 26px;
      padding-bottom: 10px;

      & ~ .control-label {
        font-size: 11px;
        line-height: 16px;
        top: 12px;
      }
    }
  }

  // error state
  &.has-error {
    .form-control {
      border-color: $red-800;

      // filled not focused
      &:not(:placeholder-shown) {
        & ~ .control-label {
          color: $red-800;
        }
      }

      &:focus {
        border-color: $red-800;
        box-shadow: none;

        // focused and filled
        &:not(:placeholder-shown) {
          & ~ .control-label {
            color: $red-800;
          }
        }
      }
    }

    .hint-block {
      display: none;
    }

    .help-block {
      font-size: 11px;
      line-height: 16px;
      border-radius: 0 0 4px 4px;
      padding: 16px 16px 8px 16px;
      margin-top: -8px;
      background: $red-800;
      color: $red-100;
      @include font-root-body-body-6-regular;
    }
  }

  // warning state
  &.has-warning {
    .form-control {
      border-color: $orange-600;

      // filled not focused
      &:not(:placeholder-shown) {
        & ~ .control-label {
          color: $orange-600;
        }
      }

      &:focus {
        border-color: $orange-600;
        box-shadow: none;

        // focused and filled
        &:not(:placeholder-shown) {
          & ~ .control-label {
            color: $orange-600;
          }
        }
      }
    }

    .hint-block {
      display: none;
    }

    .help-block {
      font-size: 11px;
      line-height: 16px;
      border-radius: 0 0 4px 4px;
      padding: 16px 16px 8px 16px;
      margin-top: -8px;
      background: $orange-600;
      color: $orange-100;
      @include font-root-body-body-6-regular;
    }
  }
}

select {
  border: 2px solid $gray-400;
  border-radius: $borderRadius;
  padding: 18px 14px;
  height: 64px;
  color: $gray-900;

  &:focus {
    outline: none;
  }
}

.form-group {
  &:not(&--no-label) {
    .select2-selection.select2-selection--single {
      padding-top: 26px;
      padding-bottom: 10px;
    }
  }
}

.select2-container--default {
  .select2-selection {
    &:focus {
      outline: none;
    }
  }

  .select2-selection--single {
    border: 2px solid $gray-400 !important;
    border-radius: $borderRadius !important;
    padding: 18px 14px;
    height: 64px !important;

    .select2-selection__rendered {
      font-size: 17px;
      line-height: 24px !important;
      letter-spacing: -0.4px;
      font-feature-settings: 'salt' on;
      color: $gray-700 !important;
      padding-right: 36px !important;
      padding-left: 0 !important;
      padding-top: 0 !important;
    }

    .select2-selection__clear {
      position: absolute;
      right: 56px;
      top: 20px;
    }

    .select2-selection__placeholder {
      color: inherit;
    }

    .select2-selection__arrow {
      top: 20px;
      right: 20px;
      width: 24px;
      height: 24px;

      b {
        width: 24px;
        height: 24px;
        background: url('/img/icon/ic-expand-more-24.svg');
        border: none;
        left: 0;
        top: 0;
        margin-left: 0;
        margin-top: 0;
        position: absolute;
      }
    }
  }

  &.select2-container--open {
    &.select2-container--below,
    &.select2-container--above {
      .select2-selection--single {
        border-radius: $borderRadius;
      }
    }
  }

  &.select2-container--focus {
    .select2-selection {
      border: 2px solid $blue-200;
      box-shadow: 0 0 0 2pt $primary-100;
    }
  }

  .select2-dropdown {
    &.select2-dropdown {
      background: white;
      border: 2px solid $gray-200;
      box-sizing: border-box;
      box-shadow: $shadow-dropdown;
      border-radius: $borderRadius;
      overflow: hidden;
      padding: 16px 8px;
    }

    &--below {
      margin-top: 8px;
    }

    &--above {
      margin-top: -8px;
    }
  }

  .select2-results > .select2-results__options {
    max-height: 400px;
  }

  .select2-results__option {
    margin-bottom: 2px;
    padding: 12px 16px;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: -0.4px;
    font-feature-settings: 'salt' on;
    color: $gray-900;
    border-radius: $borderRadius;

    &[aria-selected="true"] {
      color: white;
      background: $primary-400;
    }
  }

  .select2-results__option--highlighted[aria-selected] {
    background: $primary-500;
  }

  .select2-search--dropdown {
    position: relative;
    padding: 4px !important;

    &:before {
      content: ' ';
      height: 24px;
      width: 24px;
      background: url('/img/icon/ic-search-24.svg') center center;
      display: block;
      position: absolute;
      top: 16px;
      left: 16px;
    }

    .select2-search__field {
      padding: 10px 52px;
      border: 2px solid $gray-400;
      border-radius: $borderRadius;
      font-size: 17px;
      line-height: 24px;
      box-shadow: none;
      outline: none;
      color: $gray-900;
      margin-bottom: 16px;

      &::placeholder {
        color: $gray-700;
      }

      &:focus {
        box-shadow: 0 0 0 2px $primary-100;
        border-color: $primary-500;

      }
    }

    .select2-search__clear {
      height: 24px;
      width: 24px;
      background: url('/img/icon/ic-cancel-24.svg') center center;
      display: block;
      position: absolute;
      top: 16px;
      right: 16px;
      cursor: pointer;
    }
  }
}

.has-error {
  .select2-container--default {
    .select2-selection--single {
      border: 2px solid $red-800 !important;
    }

    &.select2-container--focus {
      .select2-selection {
        border: 2px solid $red-800 !important;
        box-shadow: none;
      }
    }
  }

  .select2-container--focus {
    & ~ .control-label {
      color: $red-800;
    }
  }
}

.form-group:not(.form-group--no-label) .form-control.select2--empty ~ .control-label {
  font-size: 17px;
  line-height: 24px;
  top: 20px;
}

.checkbox {
  cursor: pointer;
  padding: 18px 14px;
  position: relative;

  input {
    display: none;
  }

  label {
    cursor: pointer;
    white-space: nowrap;
    margin-bottom: 0;
  }

  .help-block {
    font-size: 11px;
    line-height: 16px;
    color: $red-700 !important;
    background: transparent !important;
    padding: 0 !important;
    margin: 0 !important;
    position: absolute;
    @include font-root-body-body-6-regular;
  }

  .input-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 17px;
    transition: .5s;
    background-image: url(/img/icon/ic-checkbox-blank-24.svg);
  }

  .checkbox-label {
    white-space: normal;
    display: inline-block;
    font-size: 17px;
    line-height: 24px;
    padding-left: 24px;
  }

  input[type=checkbox]:checked ~ .input-icon {
    background: url('/img/icon/ic-checkbox-checked-24.svg');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;

    path {
      fill: $gray-500;
    }
  }

  input[type=radio] ~ .input-icon {
    width: 20px;
    height: 20px;
    top: 19px;
    background: url('/img/icon/ic-circle-current-20.svg');
    border-radius: 50% !important;
  }

  input[type=radio]:checked ~ .input-icon {
    background: url('/img/icon/ic-radio-checked-20.svg');
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
  }
}

.select2 ~ .control-label {
  pointer-events: none;
}

// For IE floating label usage
.ie-float-label-active {
  .control-label {
    font-size: 11px;
    line-height: 16px;
    top: 12px;
  }

  .form-control {
    padding-top: 26px !important;
    padding-bottom: 10px !important;
    padding-left: 14px !important;
    border: 2px solid $gray-400;
  }
}

// remove IE clear button on input
input::-ms-clear {
  display: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $gray-400;
  -webkit-transition: .4s;
  transition: .4s;
  width: 40px;
  height: 28px;
  top: calc(50% - 14px);

  &__label {
    padding-left: 32px;
  }
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $primary-500;
}

input:focus + .slider {
  // TODO
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.form-group {
  /* File inputs */
  input[type=file] {
    display: none;
  }

  input[type=file] ~ label {
    background: $white;
    cursor: pointer;
    margin-bottom: 0;
    padding-top: 18px !important;
    padding-bottom: 18px !important;
    white-space: nowrap;

    @include font-root-body-body-4-regular();
    letter-spacing: -0.4px;
    font-feature-settings: 'salt' on;
    color: $gray-700;

    transition-property: top, font-size;
    transition-duration: 0.2s;

    &.file-selected {
      border-color: $primary-500;
      color: $gray-900;
    }
  }
}
