/*
* Copyright 2022 DactylGroup s.r.o.
*
* Licensed under the EUPL, Version 1.2 or – as soon they
will be approved by the European Commission - subsequent
versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the
Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl5
*
* Unless required by applicable law or agreed to in
writing, software distributed under the Licence is
distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied.
* See the Licence for the specific language governing
permissions and limitations under the Licence.
*/

@import '../../../../source_assets/layout/scss/variables';
@import '../../../../source_assets/layout/scss/mixins';

div.progress {
  background: $gray-300;
  height: 8px !important;
  border-radius: 4px;

  .progress-bar {
    background: $primary-500;
    height: 100%;
    border-radius: 4px;
  }

  @media (max-width: $md-breakpoint) {
    display: none !important;
  }
}


.dk--stepper {
  display: flex;
  list-style: none;
  margin-top: 16px;
  @include font-root-body-body-5-medium;
  letter-spacing: -0.154px;
  font-feature-settings: 'salt' on;
  padding-left: 1px;

  @media (max-width: $md-breakpoint) {
    display: none !important;
  }

  .dk--stepper-step {
    flex-grow: 4;
    color: $gray-500;
    padding-left: 15px;

    &:first-of-type {
      padding-left: 0;
    }

    &:before {
      display: inline-block;
      content: " ";
      width: 18px;
      height: 18px;
      margin-right: 9px;
      top: 3px;
      position: relative;
      background: url(/img/icon/ic-circle-next-20.svg);
      background-size: contain;
      border: none;
    }

    &.dk--stepper-step--current {
      color: $primary-500;

      &:before {
        background: url(/img/icon/ic-circle-current-20.svg);
        background-size: contain;
        border: none;
      }
    }

    &.dk--stepper-step--complete {
      color: $gray-900;

      &:before {
        background: url(/img/icon/ic-check-circle-complete-20.svg);
        background-size: contain;
        border: none;
      }
    }
  }
}
