/*
* Copyright 2022 DactylGroup s.r.o.
*
* Licensed under the EUPL, Version 1.2 or – as soon they
will be approved by the European Commission - subsequent
versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the
Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl5
*
* Unless required by applicable law or agreed to in
writing, software distributed under the Licence is
distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied.
* See the Licence for the specific language governing
permissions and limitations under the Licence.
*/

@import '../../../../source_assets/layout/scss/variables';
@import '../../../../source_assets/layout/scss/mixins';

.dk--table {

  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  width: 100%;

  &--ghost {

    thead {

      th {
        @include font-root-body-body-5-emphasized;
        letter-spacing: -0.154px;
        font-feature-settings: 'salt' on;
        color: $gray-900;
        position: relative;
        padding: 8px 0;

        &::after {
          content: "";
          border-bottom: 1px solid $gray-300;
          width: 95%;
          position: absolute;
          left: 0;
          bottom: 0;
        }

        // first th element has no underline
        &:nth-child(1)::after {
          content: none;
        }
      }
    }

    tbody {

      margin-top: 8px;

      tr {
        td {
          @include font-root-body-body-4-regular;
          letter-spacing: -0.4px;
          font-feature-settings: 'salt' on;
          color: $gray-900;
          padding: 12px 0;

          &:nth-child(1) {
            color: $gray-700;
          }
        }
      }
    }

    &__heading {
      @include font-root-heading-heading-6;
      display: block;
      letter-spacing: 0.4px;
      font-feature-settings: 'salt' on;
      color: $gray-900;
      margin-bottom: 12px;
    }
  }
}


.data-table {


  thead {
    text-transform: uppercase;

    .white {
      color: $gray-700;
      font-weight: bold;
    }
  }

  th, td {
    line-height: 20px;
    padding: 14px;
  }

  td {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }

  th {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }

  width: 100%;
  margin: 0;

  tr:nth-child(odd) {
    background: $gray-300;
  }

  tr:nth-child(even) {
    background: $gray-100
  }

  tr:last-child {
    td, th {
      // because of border duplication
      border-bottom: none !important;
    }

  }

  .white {
    td, th {
      background: $white;
      border-bottom: 2px solid $gray-300;
    }

    &--no-border {
      td, th {
        border: none !important;
      }
    }

    &--smaller-font {
      td, th {
        font-size: 15px;
      }
    }
  }
}
