/*
* Copyright 2022 DactylGroup s.r.o.
*
* Licensed under the EUPL, Version 1.2 or – as soon they
will be approved by the European Commission - subsequent
versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the
Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl5
*
* Unless required by applicable law or agreed to in
writing, software distributed under the Licence is
distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied.
* See the Licence for the specific language governing
permissions and limitations under the Licence.
*/

@import '../../../../source_assets/layout/scss/_variables';
@import '../../../../source_assets/layout/scss/_mixins';

.tooltip {

  z-index: 99999999!important;

  &.show {
    opacity: 1 !important;
  }

  &.bs-tooltip-top {
    .arrow {
      &::before {
        border-top-color: $gray-800 !important;
        bottom: 0;
      }
    }
  }

  &.bs-tooltip-bottom {
    .arrow {
      &::before {
        border-bottom-color: $gray-800 !important;
        bottom: 0;
      }
    }
  }

  &.bs-tooltip-left {
    .arrow {
      &::before {
        border-left-color: $gray-800 !important;
        bottom: 0;
      }
    }
  }

  &.bs-tooltip-right {
    .arrow {
      &::before {
        border-right-color: $gray-800 !important;
        bottom: 0;
      }
    }
  }


  .tooltip-inner {
    @include font-root-body-body-5-regular;
    letter-spacing: -0.154px;
    font-feature-settings: 'salt' on;
    color: #fff;
    padding: 8px 16px;
    border-radius: 2px;
    background-color: $gray-800;
    opacity: 1;
  }
}

/* Tooltip container */
.dk--tooltip {
  position: relative;
  display: inline-block;

  &:hover {
    .dk--tooltip--content {
      visibility: visible;
      opacity: 1;
    }
  }

  &--content {
    @include font-root-body-body-5-regular;
    letter-spacing: -0.154px;
    font-feature-settings: 'salt' on;
    color: #fff;

    visibility: hidden;
    background-color: $gray-800;
    text-align: center;
    padding: 8px 16px;
    border-radius: 2px;

    position: absolute;
    z-index: 1;

    &__top {
      bottom: 125%;
      left: 50%;
      margin-left: -30px;

      &:after {
        top: 100%;
        left: 50%;
        border-color: $gray-800 transparent transparent transparent;
      }
    }

    &__bottom {
      top: 125%;
      left: 50%;
      margin-left: -30px;

      &::after {
        bottom: 100%;
        left: 50%;
        border-color: transparent transparent $gray-800 transparent;
      }
    }

    &__left {
      top: -25%;
      right: 110%;

      &::after {
        top: 27%;
        left: 111%;
        border-color: transparent transparent transparent $gray-800;
      }
    }

    &__right {
      top: -25%;
      left: 110%;

      &::after {
        bottom: 27%;
        right: 100%;
        border-color: transparent $gray-800 transparent transparent;
      }
    }

    &::after {
      content: "";
      position: absolute;
      margin-left: -8px;
      border-width: 8px;
      border-style: solid;
    }
  }
}
