/*
* Copyright 2022 DactylGroup s.r.o.
*
* Licensed under the EUPL, Version 1.2 or – as soon they
will be approved by the European Commission - subsequent
versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the
Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl5
*
* Unless required by applicable law or agreed to in
writing, software distributed under the Licence is
distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied.
* See the Licence for the specific language governing
permissions and limitations under the Licence.
*/

@import "variables";
@import "mixins";

h1 {
  @include font-root-heading-heading-1;
  font-style: normal;
  letter-spacing: 0.148px;
  font-feature-settings: 'salt' on;
}

h2 {
  @include font-root-heading-heading-2;
  font-style: normal;
  letter-spacing: 0.25px;
  font-feature-settings: 'salt' on;
}

h3 {
  @include font-root-heading-heading-3;
  font-style: normal;
  letter-spacing: 0.4px;
  font-feature-settings: 'salt' on;
}

h4 {
  @include font-root-heading-heading-4;
  font-style: normal;
  letter-spacing: 0.4px;
  font-feature-settings: 'salt' on;
}

h5 {
  @include font-root-heading-heading-5;
  font-style: normal;
  letter-spacing: 0.35px;
  font-feature-settings: 'salt' on;
}

h6 {
  @include font-root-heading-heading-6;
  font-style: normal;
  letter-spacing: 0.4px;
  font-feature-settings: 'salt' on;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  border: none;

  tbody {

    border: none;
    tr {
      border: none;
      td {
        font-size:17px;
        font-family:"SF Pro Text", sans-serif;
        font-weight:normal;
        line-height:24px;
        letter-spacing: -0.4px;
        font-feature-settings: 'salt' on;
        color: $gray-900;
        padding: 12px 0;
        border: none;

        &:nth-child(1) {
          color: $gray-700;
        }
      }
    }
  }
}

#page-elements {
  a {
    font-family: 'SF Pro Text', sans-serif;
    letter-spacing: -0.154px;
    font-feature-settings: 'salt' on;
    color: $primary-400 !important;

    &:hover {
      //TODO when graphics is finished
    }
  }
}
