/*
* Copyright 2022 DactylGroup s.r.o.
*
* Licensed under the EUPL, Version 1.2 or – as soon they
will be approved by the European Commission - subsequent
versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the
Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl5
*
* Unless required by applicable law or agreed to in
writing, software distributed under the Licence is
distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied.
* See the Licence for the specific language governing
permissions and limitations under the Licence.
*/

@import '../../../source_assets/layout/scss/variables';
@import '../../../source_assets/layout/scss/mixins';

.livebox--station-registration {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding-bottom: 73px;
  width: 1192px;

  @media screen and (max-width: 1324px) {
    width: 90vw;
  }

  .livebox--header {
    align-items: center;
    background: white;
    display: flex;
    font-weight: bold;
    min-height: 64px;
    padding: 0 24px 0 72px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10;

    .exit {
      margin-left: auto;
    }

    .dk--badge {
      margin-left: 8px;
    }
  }

  &--content {
    // 744px content + 32px padding on both sides (content-box cannot be used bcs of responsivity... /just trust me)
    margin: 80px auto;
    max-width: 940px;
    padding: 32px 32px 0px;
    width: 100%;

    &.map-block {
      margin-bottom: 0;
      padding-bottom: 12px;
    }

    .summary {
      margin-top: 48px;
    }

    h6 {
      margin-top: 56px;

      &:nth-child(2) {
        margin-top: 40px;
      }
    }

    .station-popup {
      h6 {
        margin-top: 0;
      }
    }

    .form-group {
      margin-top: 16px;
    }

    &__subheading {
      @include font-root-body-body-4-regular;
      color: $gray-700;
      display: block;
      font-feature-settings: 'salt' on;
      letter-spacing: -0.4px;
      margin-top: 8px;
    }

    .grid-view {
      margin-top: 16px;
      margin-bottom: 85px;
    }

    .edit-location {
      @include font-root-body-body-4-regular;
      color: $primary-400;
      font-feature-settings: 'salt' on;
      letter-spacing: -0.4px;
      margin: 8px 0 0 8px;
    }

    &__location-inputs,
    .row {
      div.col-md-6 {
        &:first-of-type {
          padding-right: 12px;
        }

        &:last-of-type {
          @media (min-width: $md-breakpoint) {
            padding-left: 12px;
          }
        }
      }

      .fs_step4 {
        padding-bottom: 64px;

        .form-group {
          margin-bottom: 0;
        }

        .dk--h5-mt-mobile {
          @media (max-width: $md-breakpoint) {
            margin-top: 40px;
          }
        }

        h6 {
          margin-right: -40vw;

          @media (max-width: $md-breakpoint) {
            display: none;
          }
        }

        .dk--h6-spacer {
          height: 80px;
          width: 100%;

          @media (max-width: $md-breakpoint) {
            display: none;
          }

          &:first-of-type {
            height: 62px;
          }

        }
      }

      .field-location-lat,
      .field-location-lng {
        &::after {
          @include font-root-body-body-4-regular;
          color: $gray-900;
          content: '°';
          font-feature-settings: 'salt' on;
          letter-spacing: -0.4px;
          position: absolute;
          right: 20px;
          top: 25px;
        }
      }
    }

    #stationwigig-direction {
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      -moz-appearance: textfield;
    }

    .eirp-inputs {
      margin-top: 16px;

      @media (max-width: $md-breakpoint) {
        flex-wrap: wrap;
        justify-content: center !important;

        .form-group {
          width: 100% !important;
        }

        .delimiter {
          margin-bottom: 8px;
          margin-top: 8px !important;
        }
      }

      .form-group {
        margin: 0;
        width: 30%;
      }

      .delimiter {
        @include font-root-body-body-4-regular;
        color: $gray-700;
        font-feature-settings: 'salt' on;
        letter-spacing: -0.4px;
        margin-top: 23px;
      }
    }

    #stationwigig-eirp_method,
    .hardware_identifier_radio {
      display: flex;
      margin-top: 16px;

      @media (max-width: $sm-breakpoint) {
        flex-wrap: wrap;

        .checkbox:nth-child(1) {
          margin-bottom: 8px;
        }
      }

      .checkbox {
        padding: 0 8px 0 0;
      }

      input[type=radio]:checked ~ .dk--chip {
        background-color: $color-chip-selected-background;
        border-color: $color-chip-selected-border;

        .dk--chip__label {
          color: $primary-500;
        }

        .dk--chip__icon {
          path {
            fill: $primary-500;
          }
        }
      }
    }

    /* hide serial number input in forms */
    .field-station-serialnumber,
    .field-modelStationA_sn-input,
    .field-modelStationB_sn-input {
      display: none;
    }

    table {
      tr {
        td:first-child {
          width: 240px;

          @media (max-width: $md-breakpoint) {
            padding-right: 24px;
            width: auto;
          }
        }
      }
    }

    &--warning {
      margin-top: 30px;

      .dk-alert--top-border::before {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        height: 4px;
        z-index: 0;
      }
    }

    .footer-bumper {
      margin-bottom: 85px;
    }
  }

  &--footer {
    background: $white;
    bottom: 0;
    box-shadow: $shadow-footer;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding: 16px;
    position: absolute;
    width: 100%;
    z-index: 5;

    .next-step-save-button {
      display: inline-flex !important;
      margin-left: auto;
    }

    .next-step-button {
      margin-left: auto;
    }

    .next-step-dirty-button {
      display: inline-flex !important;
      margin-left: auto;
    }

    .next-step-hidden-button {
      display: none !important;
    }

    .next-loading {
      transform: scale(0.35);
      opacity: 1;
      left: 0;
      position: relative;
      margin-left: 0;
      margin-top: -53px;
      top: 27px;
    }
  }

  &__signpost {
    &--content {
      width: 450px;

      @media (max-width: $md-breakpoint) {
        margin-bottom: 60px;
        width: auto;
      }
    }
  }

  // special hack that makes CSS work only on safari browser
  // https://browserstrangeness.bitbucket.io/css_hacks.html#safari
  @media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) and (stroke-color:transparent) {
      .map-outer-box {
        height: auto !important;
        display: flex !important;
        flex: 1 !important;
      }
    }
  }

}

body {
  span.select2-container--open {
    z-index: 99999;
  }
}

.dk--station--type {
  margin-top: 40px;

  &:first-of-type {
    margin-top: 48px;
  }

  &__heading {
    @include font-root-body-body-3-500;
    color: $gray-900;
    font-feature-settings: 'salt' on;
    letter-spacing: 0.4px;
  }

  &__list {
    &-item {
      border-radius: $borderRadius;
      display: flex;
      margin-top: 32px;

      &__disabled {
        cursor: not-allowed;
        filter: grayscale(1);
      }

      &:first-of-type {
        margin-top: 28px;
      }

      &__icon {
        align-items: center;
        background-color: $gray-300;
        border-radius: 50%;
        display: flex;
        flex-shrink: 0;
        height: 40px;
        justify-content: center;
        margin-right: 16px;
        width: 40px;

        svg {
          height: 24px;
          width: 24px;

          path {
            fill: white;
          }
        }

        &.dk--station {
          &__fs {
            background-color: $color-icon-fs;
          }

          &__wigig {
            background-color: $color-icon-wigig;
          }

          &__ap {
            background-color: $color-icon-ap;
          }

          &__tg {
            background-color: $color-icon-tg;
          }

          &__52 {
            background-color: $color-icon-52;
          }

          &__probe {
            path {
              fill: initial;
            }
          }
        }
      }

      &__label {
        @include font-root-body-body-4-regular;
        color: $gray-900;
        letter-spacing: -0.4px;
      }

      &__sub-label {
        @include font-root-body-body-5-regular;
        color: $gray-700;
        display: block;
        font-feature-settings: 'salt' on;
        letter-spacing: -0.154px;
      }
    }
  }
}

td {

  [data-toggle="tooltip"] {
    display: inline-flex;
    margin-left: 8px;
    vertical-align: middle;

    svg {
      height: 18px;
      width: 18px;

      path {
        fill: $gray-600;
      }
    }
  }
}

.dk--conflict__label {
  display: inline-flex;
  vertical-align: middle;
}

.direction-marker {
  background-image: url('../img/rotate.png');
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  width: 30px;
  //margin-left: -30px!important;
}

.wigig-marker {
  background-image: url('../img/wigig.png');
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  //margin-left: -30px!important;
  width: 30px;
}

.marker-fs-a {
  background-image: url('../img/fsA.png');
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.marker-fs-b {
  background-image: url('../img/fsB.png');
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.marker-ap {
  background-image: url('../img/access-point.png');
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  //margin-left: -30px!important;
  width: 30px;
}

.marker-tg {
  background-image: url('../img/toll-gate.png');
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  //margin-left: -30px!important;
  width: 30px;
}

.marker-52 {
  background-image: url('../img/station-52.png');
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.fs-address-inputs {
  min-height: 144px;
  //@media(min-width: 426px) {
  .first-input-column {
    padding-right: 0;

    input {
      border-radius: 4px 0 0 4px;;
      border-right-width: 1px !important;
    }
  }

  .second-input-column {
    padding-left: 0;

    input {
      border-left-width: 1px !important;
      border-radius: 0 4px 4px 0;
    }
  }

  //}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.map-distance-checker {
  background: #FFFFFF;
  border-radius: 4px;
  bottom: 87px;
  box-shadow: 0 0 1px rgba(26, 32, 44, 0.15), 0 0 2px rgba(26, 32, 44, 0.1), 0 2px 4px rgba(26, 32, 44, 0.05);
  left: 50%;
  padding: 8px 6px;
  position: absolute;
  transform: translateX(-50%);
  transition: opacity 0.25s ease-in-out;
  z-index: 1;

  &:hover {
    opacity: 0.75;
  }

  &.hidden {
    display: none;
  }

  &__container {
    padding: 8px;

    &__icon {
      path {
        fill: $gray-700;
      }
    }

    &__distance {
      color: $gray-900;
      font-family: "SF Pro Text", sans-serif;
      font-feature-settings: 'salt' on;
      font-size: 14px;
      font-style: normal;
      font-weight: normal;
      letter-spacing: -0.154px;
      line-height: 20px;
      margin-left: 5px;
    }
  }

  &.has-error {
    .map-distance-checker__container {
      &__icon {
        path {
          fill: $red-600;
        }
      }

      &__distance {
        color: $red-600;
      }
    }
  }
}

.stations-switcher {
  background: #FFFFFF;
  border-radius: 4px;
  bottom: 39px;
  box-shadow: 0 0 1px rgba(26, 32, 44, 0.15), 0 0 2px rgba(26, 32, 44, 0.1), 0 2px 4px rgba(26, 32, 44, 0.05);
  right: 40px;
  padding: 8px 6px;
  position: fixed;
  transition: opacity 0.25s ease-in-out;
  z-index: 1;
  opacity: 0.75;


  &:hover {
    opacity: 1;
  }

  &.hidden {
    display: none;
  }

  &__container {
    padding: 8px;

    &__distance {
      color: $gray-900;
      font-family: "SF Pro Text", sans-serif;
      font-feature-settings: 'salt' on;
      font-size: 14px;
      font-style: normal;
      font-weight: normal;
      letter-spacing: -0.154px;
      line-height: 20px;
      margin-left: 5px;
    }
  }
}

.mapboxgl-canvas {
  &:focus {
    outline: none;
  }

  height: 300px;
  position: absolute;
  width: 600px;
}


.checkbox-menu li label {
  display: block;
  clear: both;
  color: #333;
  font-weight: normal;
  line-height: 1.42857143;
  margin: 0;
  padding: 3px 10px;
  transition: background-color .4s ease;
  white-space: nowrap;
}

.checkbox-menu li input {
  margin: 0 5px;
  position: relative;
  top: 2px;
}

.checkbox-menu li.active label {
  //background-color: #cbcbff;
  font-weight: bold;
}

.checkbox-menu li label:hover,
.checkbox-menu li label:focus {
  background-color: #f5f5f5;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
  //background-color: #b8b8ff;
}

.half-width {
  @media (min-width: $lg-breakpoint + 1) {
    max-width: 50vw;
  }
}

.full-width {
  max-width: 100vw !important;
}

.stations-list {
  td {
    position: relative;
  }

  .icon-background {
    background: $gray-200;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    height: 32px;
    position: absolute;
    right: 5px;
    top: 8px;
    width: 32px;

    .icon {
      background: url('../img/eye.png') no-repeat center center;
      display: inline;
      height: 32px;
      position: absolute;
      width: 32px;
      margin: 0;
    }

    &:hover {
      background: $gray-300;

      .icon {
        background: url('../img/hov_eye.png') no-repeat center center;
      }
    }
  }

  tr:hover {
    .icon-background {
      display: inline;
    }
  }
}

.map-container {
  width: 100%;
  height: calc(100% - 110px);
  position: absolute !important;
  @media (min-width: $lg-breakpoint + 1) {
    position: fixed !important;
    top: 110px;
  }
}

@-webkit-keyframes loading-color {
  to, 0% {
    stroke: white
  }

  40% {
    stroke: white
  }

  66% {
    stroke: white
  }

  80%, 90% {
    stroke: white
  }
}

@keyframes loading-color {
  to, 0% {
    stroke: white
  }

  40% {
    stroke: white
  }

  66% {
    stroke: white
  }

  80%, 90% {
    stroke: white
  }
}

.bootbox-body {
  padding-top: 16px;
}

.livebox--station-registration {
  .stations-switcher {
    bottom: 120px;
  }
}
