/*
* Copyright 2022 DactylGroup s.r.o.
*
* Licensed under the EUPL, Version 1.2 or – as soon they
will be approved by the European Commission - subsequent
versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the
Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl5
*
* Unless required by applicable law or agreed to in
writing, software distributed under the Licence is
distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied.
* See the Licence for the specific language governing
permissions and limitations under the Licence.
*/

@import '../../../source_assets/layout/scss/variables';
@import '../../../source_assets/layout/scss/mixins';

.livebox {
  z-index: 99999;

  &--header {
    padding: 20px 72px;
    @include font-root-body-body-4-medium;
    letter-spacing: -0.4px;
    font-feature-settings: 'salt' on;
    color: $gray-900;
    box-shadow: $shadow-header;
    height: 64px;
  }

  &--help {
    width: 520px;

    &--content {
      padding: 32px;

      .video-player {
        height: 304px;
        width: 100%;
        background: $primary-500;
        border-radius: $borderRadius;
      }

      h5 {
        margin-top: 40px;
      }

      .user-guide {
        padding: 24px;
        margin-top: 16px;
        box-shadow: $shadow-header;
        border-radius: $borderRadius;

        &:hover {
          text-decoration: none;
        }

        div {
          margin-left: 24px;

          .filename {
            @include font-root-body-body-3-500;
            letter-spacing: 0.4px;
            font-feature-settings: 'salt' on;
            color: $gray-900;
          }

          .filesize {
            @include font-root-body-body-5-regular;
            letter-spacing: -0.154px;
            font-feature-settings: 'salt' on;
            color: $gray-700;
          }
        }
      }
    }

    .dk--station--type {

      &:first-of-type {
        margin-top: 0;
      }

      &__list {
        &-item {
          &__icon {
            border: solid 2px $white;
            box-shadow: 0 2px 4px rgba(26, 32, 44, 0.05), 0 1px 2px rgba(26, 32, 44, 0.1), 0 0 1px rgba(26, 32, 44, 0.15);

            svg {
              height: 17px;
              width: initial;
            }
          }

          &.centered .dk--station--type__list-item__label {
            align-self: center;
          }
        }
      }
    }
  }
}

.livebox-wrapper.shown {
  overflow: hidden;
}

.livebox-wrapper .livebox-popup.shown {
  right: 0;
  transition: .5s;
}

.livebox-wrapper .livebox-popup {
  position: absolute;
  right: -100vw;
  transition: .2s;
  top: 0;
  height: 100vh;
  padding: 0;
  width: unset;
  max-width: unset;
  border-radius: 0;

  .livebox-close-btn {
    padding: 0;
    left: 16px;
    top: 15px;
    right: unset;
    font-size: 30px;
    max-height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0,0,0,.6);
    border-radius: 50%;

    &:hover{
      background: #e2e8f0;
    }
  }
}

.livebox-wrapper .livebox-popup .livebox-close-btn {
  z-index: 15;
}
