/*
* Copyright 2022 DactylGroup s.r.o.
*
* Licensed under the EUPL, Version 1.2 or – as soon they
will be approved by the European Commission - subsequent
versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the
Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl5
*
* Unless required by applicable law or agreed to in
writing, software distributed under the Licence is
distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied.
* See the Licence for the specific language governing
permissions and limitations under the Licence.
*/

#station-grid {
  td {
    vertical-align: top;
  }

  .slider.slider-horizontal {
    width: 100% !important;

    .slider-selection {
      box-shadow: inset 0 -11px 0 rgba(11, 139, 204, 0.18);
    }
  }

  .col-id_user {
    padding-left: 33px;
    position: relative;

    a:first-of-type {
      top: 8px;
      position: absolute;
      left: 10px;

      i {
        font-size: 18px;
        color: #898b96;
      }
    }
  }

  #stationsearch-lat,
  #stationsearch-lng {
    display: block !important;
    width: 200px;
  }
}

#station-form {
  div.arrow {
    text-align: center;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90px;
      font-size: 50px;
    }
  }
}

#export-stations-in-radius-form {
  button {
    margin-top: 29px;
  }

  .portlet.result {
    background: #e8fff3;
  }
}
