/*
* Copyright 2022 DactylGroup s.r.o.
*
* Licensed under the EUPL, Version 1.2 or – as soon they
will be approved by the European Commission - subsequent
versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the
Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl5
*
* Unless required by applicable law or agreed to in
writing, software distributed under the Licence is
distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied.
* See the Licence for the specific language governing
permissions and limitations under the Licence.
*/

@import '../../../../source_assets/layout/scss/_variables';
@import '../../../../source_assets/layout/scss/_mixins';

.dk--footer {

  box-shadow: 0px -1px 0px $gray-300;
  width: 50%;
  @media (max-width: $lg-breakpoint) {
    width: 100%;
  }
  background: transparent;

  @media screen and (min-width: $lg-breakpoint) {
    margin-top: -184px;
  }

  &__content {
    //max-width: $contentWidth;
    max-width: 840px;
    /* margin: 0 auto; */
    margin-left: auto;

    &--half {
      padding: 32px;
    }
  }

  &--language-select {
    span.select2 {
      max-width: 360px;
    }

    margin-bottom: 32px;
  }

  &__copyright {
    @include font-root-body-body-5-regular;
    letter-spacing: -0.154px;
    font-feature-settings: 'salt' on;
    color: $gray-700;
  }

}
