/*
* Copyright 2022 DactylGroup s.r.o.
*
* Licensed under the EUPL, Version 1.2 or – as soon they
will be approved by the European Commission - subsequent
versions of the EUPL (the "Licence");
* You may not use this work except in compliance with the
Licence.
* You may obtain a copy of the Licence at:
*
* https://joinup.ec.europa.eu/software/page/eupl5
*
* Unless required by applicable law or agreed to in
writing, software distributed under the Licence is
distributed on an "AS IS" basis,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
express or implied.
* See the Licence for the specific language governing
permissions and limitations under the Licence.
*/

@import '../../../../source_assets/layout/scss/_variables';
@import '../../../../source_assets/layout/scss/_mixins';

.dk--header {
  background: white;
  z-index: 1000;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: $shadow-header;
}

.dk--menu-overlay {

  display: none;
  position: absolute;
  top: 56px;
  left: 20px;
  padding: 8px 12px 12px 12px;
  max-width: 256px;
  z-index: 9999;

  &__button {
    margin-right: 12px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0 12px 0;
    min-width: 60px;

    &--label {
      @include font-root-body-body-5-regular;
      letter-spacing: -0.154px;
      font-feature-settings: 'salt' on;
      color: $gray-900;
      text-align: center;
    }

    svg {
      width: 62px;
      height: 62px;
    }
  }
}

#header-offset {
  width: 100%;
  padding-bottom: 64px;

  &.extended {
    padding-bottom: 110px;
  }
}

.dk--nav-bar {
  //position: relative;
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
  max-width: $contentWidth;
  width: 100%;
  margin: 0 auto;

  .dropdown {
    position: unset;

    &-menu.show {
      top: 70px !important;
      left: 32px !important;
    }
  }

  &__container {
    display: flex;
    align-items: center;

    nav {
      ul {
        li {
          display: inline-flex;
          align-items: center;
        }
      }
    }

    .logo {
      display: flex;
      align-items: center;

      @media screen and (max-width: 920px) {
        display: none;
      }

      &__mobile {
        display: none;

        @media screen and (max-width: 920px) {
          display: block;
        }
      }
    }

    .dk--nav-bar--conversations__unread {
      position: relative;

      &:before {
        content: '';
        background-color: $red-600;
        border-radius: 50%;
        position: absolute;
        width: 10px;
        height: 10px;
        left: -15px;
        top: 3px;
      }
    }

    .dc-menu.active {

      transition: background-color 300ms linear;

      &::before {
        content: '';
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 100;
        background-color: rgba(0, 0, 0, .5);
      }

      nav {
        transform: translateX(0) !important;

        ul {
          overflow-y: auto !important;
          height: 100% !important;

          li {
            border-bottom: none !important;

            a {
              color: $gray-900;
            }

            .dk--nav-bar--create {
              margin-top: 32px;
              transition-property: background-color, box-shadow;
              border-bottom: none !important;

              span {
                border-bottom: none !important;
              }
            }

            &:hover {
              a {
                color: $primary-500;
                border-bottom: 1px solid #f2f2f2;
                background-color: $gray-100;

                &.dk--nav-bar--create {
                  background-color: $primary-500;
                }
              }
            }
          }
        }
      }
    }

    .menu-hamburger {
      align-items: center;
      color: $gray-700;
      font-size: 14px;
      line-height: 24px;
      margin-left: 15px;
      display: none;
      z-index: 150;
      transition: transform 100ms cubic-bezier(.4, 0, .2, 1);
      transition-delay: 0s;
      cursor: pointer;

      &.active {
        transform: translateX(-180px);
        transition: transform 300ms cubic-bezier(.4, 0, .2, 1);
        transition-delay: .04s;

        @media (max-width: $sm-breakpoint) {
          transform: translateX(-225px);
        }
      }

      @media screen and (max-width: $md-breakpoint) {
        display: flex;
      }

      p {
        padding-right: 11px;
        margin: 0;
        @media screen and (max-width: $sm-breakpoint) {
          display: none;
        }
      }

      .dc-menu-hamburger {
        width: 18px;
        height: 18px;
        position: relative;

        span {
          position: absolute;
          height: 2px;
          width: 100%;
          border-radius: 1px;
          background-color: $gray-700;
          display: block;
          transition: all 0.25s ease-in-out;

          &.top {
            top: 0;

            &.active {
              top: 50%;
              transform: rotate(45deg);
            }
          }

          &.mid {
            top: 50%;
            transform: translateY(-50%);

            &.active {
              width: 0;
            }
          }

          &.bot {
            top: 100%;

            &.active {
              top: 50%;
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
  }

  &__btn-ml {
    margin-left: 24px;
  }

  &__btn-mr {
    margin-right: 8px;
  }

  &__hide-md {
    @media (max-width: $md-breakpoint) {
      display: none;
    }
  }

  &--create {
    line-height: 1.5;
    display: inline-flex !important;
  }

  &__extended {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px -1px 0px rgba(26, 32, 44, 0.1);
    overflow-x: auto;

    /* width */
    &::-webkit-scrollbar {
      height: 6px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px $gray-500;
      border-radius: 3px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $primary-300;
      border-radius: 3px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $primary-400;
    }

    .dk--nav-bar {
      padding: 8px 32px;

      .warning-stripe {
        @include font-root-body-body-5-emphasized;
        background: $red-600;
        bottom: -26px;
        color: $white;
        display: block;
        left: 0;
        padding: 3px;
        position: absolute;
        text-align: center;
        width: 100%;
      }
    }

    .dk--chip {
      margin-right: 8px;
    }

    .pjax {
      display: flex;
      align-items: center;
    }

    .checkbox {
      padding: 0;

      .checkbox-label {
        @include font-root-body-body-5-regular;
        letter-spacing: -0.154px;
        font-feature-settings: 'salt' on;
        color: $gray-900;
        padding-left: 30px;
      }

      .input-icon {
        top: -1px;
      }
    }

    .form-group {
      margin: 0;
    }
  }
}

#vueAppHeader {
  min-width: max-content;
}
